.buttons{
    height: 80px;
    width: 550px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 20px;
    left: 200px;
}
.home_button{
    width: 160px;
    height: 55px;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 500;
    color: #000000;
    background-color: #ffffff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px, 8px, 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-decoration: #ff7300;
}
.home_button:hover{
    background-color: #ff7300;
    box-shadow: 0px, 15px, 20px, rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
.about_us{
    width: 200px;
    height: 55px;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px, 8px, 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-decoration: #ff7300;
}
.about_us:hover {
    background-color: #ff7300;
    box-shadow: 0px, 15px, 20px, rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
.blog_button{
    width: 160px;
    height: 55px;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 500;
    color: #000000;
    background-color: #00ddff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px, 8px, 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-decoration: #ff7300;
}
.blog_button:hover{
    background-color: #ff7300;
    box-shadow: 0px, 15px, 20px, rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
/* COURSES_BUTTONS */
.courses{
    display: flex;
    justify-content: space-around;
}
.learn_about{
    display: flex;
    justify-content: center;
    text-align: center;
}
.learn__about{
    width: 160px;
    height: 65px;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 500;
    color: #000000;
    background-color: #00ddff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px, 8px, 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-decoration: #ff7300;
}
.learn__about:hover{
    background-color: #ff7300;
    box-shadow: 0px, 15px, 20px, rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
*{
    font-family: "Montserrat";
    outline: none;
    box-sizing: border-box;
}
.wrapper{
    width: 250px;
    background: #fff;
    padding: 30px;
    position: absolute;
    right: 200px;
    top: -23px;
}
.wrapper .input-data{
    height: 50px;
    width: 100%;
    position: relative;
}
.wrapper .input-data input{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid silver;
}
.input-data input:focus ~ label,
.input-data input:valid ~ label{
    transform: translateY(-20px);
    font-size: 15px;
    color: grey;
}
.wrapper .input-data label{
    position: absolute;
    bottom: 17px;
    left: 0px;
    color: grey;
    pointer-events: none;
    transition: all 0.3s ease;
}
.wrapper .input-data .underline{
    position: absolute;
    bottom: 0px;
    height: 2px;
    width: 100%;
}
.input-data .underline:before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #ff7300;
    transform: scale(0);
    transition: transform 0.4s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before{
    transform: scale(1);
}
.image_goit{
    position: relative;
    top: 10px;
    left: 10px;
}