@import url(buttons.css);

.image_goit{
    position: relative;
    top: 18px;
    left: 10px;
}
.main_container{
    margin: 0px auto;
}
.main_title{
    font-size: 50px;
    color: black;
    font-family: "Montserrat";
    text-align: center;
}
.main_text{
    font-size: 25px;
    color: black;
    font-family: "Montserrat";
    text-align: center;
}
.python_core{
    width: 400px;
    height: 430px;
    border-radius: 15px;
    border: rgb(184, 184, 184) 2px solid;
}
.h1_python{
    font-size: 30px;
    color: black;
    font-family: "Montserrat";
    text-align: center;
}
.h2_python{
    font-size: 28px;
    color: black;
    font-family: "Montserrat";
    text-align: center;
}
.h3_python{
    font-size: 20px;
    color: black;
    font-style: initial;
    font-family: "Montserrat";
    text-align: center;
}
.p_core{
    text-align: center;
    font-family: "Montserrat";
}
.python_web{
    width: 400px;
    height: 430px;
    border-radius: 15px;
    border: rgb(184, 184, 184) 2px solid;
}
.python_data_since{
    width: 400px;
    height: 430px;
    border-radius: 15px;
    border: rgb(184, 184, 184) 2px solid;
}
*{
    font-family: "Montserrat";
    outline: none;
    box-sizing: border-box;
}
.wrapper{
    width: 250px;
    background: #fff;
    padding: 30px;
    position: absolute;
    right: 200px;
    top: -23px;
}
.wrapper .input-data{
    height: 50px;
    width: 100%;
    position: relative;
}
.wrapper .input-data input{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid silver;
}
.input-data input:focus ~ label,
.input-data input:valid ~ label{
    transform: translateY(-20px);
    font-size: 15px;
    color: grey;
}
.wrapper .input-data label{
    position: absolute;
    bottom: 17px;
    left: 0px;
    color: grey;
    pointer-events: none;
    transition: all 0.3s ease;
}
.wrapper .input-data .underline{
    position: absolute;
    bottom: 0px;
    height: 2px;
    width: 100%;
}
.input-data .underline:before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #ff7300;
    transform: scale(0);
    transition: transform 0.4s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before{
    transform: scale(1);
}

