<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoIt: Blog</title>
    <link rel="stylesheet" href="blog.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
    <div class="upper_container">
        <img class="image_goit" src="images/logo.png" alt="">
        <div class="buttons">
            <a href="./index.html"> <div class="container-contact100-form-btn">
                <div class="wrap-contact100-form-btn">
                    <div class="contact100-form-bgbtn"></div>
                        <button class="home_button">
                            <span>
                                Courses
                            </span>
                        </button>
                    </div>
                </div>
            </a>
            <div class="aboutus">
                <button class="about_us">About us</button>
            </div>
            <div class="blog">
                <button class="blog_button">Blog</button>
            </div>
            <a href="./log_in.html"> <div class="container-contact100-form-btn">
                <div class="wrap-contact100-form-btn">
                    <div class="contact100-form-bgbtn"></div>
                        <button class="log_in">
                            <span>
                                Log in
                            </span>
                        </button>
                    </div>
                </div>
            </a>
        </div>
        
    </div>
    <div class="wrapper_search">
        <div class="input-data">
            <input type="text" required>
            <div class="underline"></div>
            <label>Search</label>
        </div>
    </div>
    <main role="main" class="container">
        {% if message %}
          <h3>{{ message }}</h3>
        {% endif %}
        <div class="row">
          <div class="col-md-8 blog-main">
            {% for blog in blogs %}
            <div class="blog-post">
              <h2 class="blog-post-title">{{ blog.title }}</h2>
              <p class="blog-post-meta">{{ blog.date }} by <a href="#">{{ blog.author }}</a></p>
              <p>
                {{ blog.text }}
              </p>
            </div>
            {% endfor %}
          </div>
        </div>
      </main>
</body>
</html>